@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header, .hero, .info, .quote, .cta-banner, .footer {
    max-width: 1000px;
}

.header-outer, .hero-outer {
    background-color: #1F2937;
}

.info-outer, .cta-outer {
    background-color: white;
}

.quote-outer{
    background-color: #e5e7eb;
}


.header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0;
    padding:0;
    list-style-type: none;
} 

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.nav-links {
    font-size: 18px;
    color: #efe7eb
}

.main {
    flex: 1;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf9;
}

.subheader {
    font-size: 18px;
    color: #efe7eb
}

.hero-cta {
    background-color: #3882F6;
    color: white
}


.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-img {
    width: 50px;
    height: 50px;
    background-color: black;
}

blockquote {
    margin: 0;
    font-style: italic;
}

.quote-container {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

cite {
    font-style: normal;
}

.cta-banner {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #efe7eb;
}