* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0;
    padding:0;
    list-style-type: none;
}

.main {
    flex: 1;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}