@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* General Layout of the page */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.header, .hero, .info, .quote, .cta-banner, .footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}


/* Background */

.header-outer, .hero-outer, .footer-outer {
    background-color: #1F2937;
}

.info-outer, .cta-outer {
    background-color: white;
}

.quote-outer{
    background-color: #e5e7eb;
}


/* Header styling */

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}


.nav {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0;
    padding:0;
    list-style-type: none;
} 

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.nav-links {
    font-size: 18px;
    color: #efe7eb
}

.main {
    flex: 1;
}


/* Hero styling */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    background-color: #1F2937;
    padding-top: 120px;
    padding-bottom: 120px;
}

.left-hero-side {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    color: #f9faf9;
    padding: 0;
    margin: 0;
}

.subheader {
    font-size: 18px;
    line-height: 1.2;
    color: #efe7eb;
    padding: 0;
    margin: 0;
}

.hero-cta {
    max-width: 100px; 
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
    border: none;
    background-color: #3882F6;
    color: white;
    flex: initial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-hero-side {
    min-width: 600px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
    background-color: #BABABA;
}


/* Info section styling */

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 120px;
    gap: 40px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
}

.info-img {
    min-width: 200px;
    min-height: 200px;
    background-color: white;
    outline: 3px solid #3882F6;
    border-radius: 12px;
}

.info-txt {
    max-width: 200px;
    max-height: 200px;
    font-size: 18px;
    color: #696969;
    padding: 0;
    margin: 0;
}


/* Quote Section styling */

.quote {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

blockquote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    margin: 0;
    font-style: italic;
    max-width: 880px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

cite {
    padding-right: 40px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-style: normal;
    font-size: 24px;
    font-weight: 900;
}

/* CTA Banner Styling */

.cta-banner {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #efe7eb;
    padding: 32px 0 32px 0;
}