* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 0;
    padding:0;
    list-style-type: none;
}